<footer class="footer has-background-dark">
    <div class="content has-text-centered">
      <div class="columns is-mobile">
        <div class="column is-6">
          <ul class="footer-links is-size-7">
            <li>
              <a class="link has-text-white" routerLink="/"> <img src="assets/images/logo-white.png" width="112" height="28"></a>
            </li>
            <li>
              <a class="link has-text-white" routerLink="/company">About Us</a>
            </li>
            <li>
              <a class="link has-text-white" routerLink="/pricing">Pricing</a>
            </li>
          </ul>
        </div>
        <div class="column is-6">
          <ul class="footer-links is-size-7">
            <li><a class="link has-text-white" routerLink="/privacy">Privacy</a></li>
            <li><a class="link has-text-white" routerLink="/tos">Terms of Service</a></li>
            <li><a class="link has-text-white" routerLink="/help">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
