button {
    margin-bottom: 8px;
}
.name {
    margin-bottom: 10px;
}
.dark {
    //background-color: #000000 !important;
    background: url('../../assets/images/carbon.gif');
    .card {
        background-color:#000000 !important;
        color: #FFFFFF;
        
    }
}

.default {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}