<section class="section main-container">
    <div class="contianer">
        <div class="columns is-centered">
            <div class="column is-9">
                <div class="box">
                    <h3 class="title is-3">
                        Dashboard
                    </h3>
                    <hr>
                    <h4 class="title is-4">
                        Profile Views
                    </h4>
                    <h4 class="title is-4">
                        {{ profileViews }}
                    </h4>
                </div>
                <div class="box">
                    <h3 class="title is-3">
                        My Network
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
