<section class="section white-bg main-container">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-12">
                <div class="box has-text-centered">
                    <img src="/assets/images/img-sample.png" />
                    <h3 class="title is-3">One link, for all your audience</h3>
                    <p>Connect all your audiences in one place.</p>
                    <p><a class="button" routerLink="/login">Get Started for Free</a></p>
                    <hr>
                    <h4 class="title is-4">Stand out from your colleagues.</h4>
                    <figure class="image is-256x256">
                        <img src="/assets/images/drawing-4-night.svg" />
                    </figure>
                    
                    <p>Get your personalized site and your electronic business card.</p>
                    <hr>
                    <h4 class="title is-4">Customize your profile for your personality</h4>
                    <figure class="image is-256x256">
                        <img src="/assets/images/dot-icon-1-night.svg" />
                    </figure>
                    <p>Personalize your profile with one of our themes.</p>
                    <hr>
                    <h4 class="title is-4">Add Your Resume and Portfolio</h4>
                    <div class="columns is-mobile">
                        <div class="column is-6">
                            <img src="/assets/images/records-night.svg" />
                        </div>
                        <div class="column is-6">
                            <img src="/assets/images/study-night.svg" />
                        </div>
                    </div>
                    <p>
                        Upload or build your resume or portfolio here. Either upload your resume or build one from one of our templates. Send a link directly to prospective employers directly from your phone or business card.
                    </p>
                    <hr>
                    <h4 class="title is-4">Share all your contact info with just one tap</h4>
                    <figure class="image is-256x256">
                        <img src="/assets/images/credit-card-night.svg" />
                    </figure>
                    <p>Order your Premium E-business card in either hard plastic or metal. Customize one of our premium templates and have your card sent to you today</p>
                </div>
            </div>
        </div>
    </div>
</section>
